
h1{
    font-size: 2.5rem;
}
.business-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 2rem;
    padding: 0 0.8rem 1rem;
}
.business-img {
    width: 100%;
    object-fit: cover;
    max-width: 500px;
}