
.personalpage-container {
    height: 100%;
    width: 100%;
    min-height: 100vh; /* Takes the full viewport height */
}
.personalpage-body {
    flex-grow: 1; /* Pushes the footer down */
}
.back-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
.back-arrow {
    font-size: 1rem;
}