header {   
    background-color: ivory;    
    height: 120px;
    top: 0;    
    width: 100%;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
}
.header.sticky {
    width: 100%;
    position: sticky;
    box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.2);
}
.header-container {
    width: 100%;
    max-width: 1400px;
    align-items: center;
    gap: 1.5rem;
    padding: 1% 2%;
}

.logo-container {
    display: flex;
    background-color: ivory;
}

.big-logo {
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 100px;
    display: block;
    margin-left: 0.5rem;
}
.small-logo {
    width: 100%;
    max-width: 100px;
    height: 100%;
    display: none;
}
.menu-container {
    display: flex;
    gap: 1rem;
}

.menu-item {
    color: darkslategray;
    margin: 10% 1rem;
    text-align: center;
}

.menu-item:hover {
    color: purple;
}

.burger-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger-icon .bar {
    height: 2px;
    width: 1.8rem;
    background-color: rgb(134, 133, 133);
    margin: 4px 0;
    transition: all 0.3s;

}
.close-menu{
    display: none;    
}

@media (max-width: 786px) {
    .header {
        display: flex;
        gap: 0;
        padding: 0;
        height: 63px;
    }
    .header.sticky {
        box-shadow: none;
    }
    .logo-container {
        display: flex;
        justify-content: flex-end;
        width: 65%;
    }
    .small-logo {
        display: block;
    }
    .big-logo {
        display: none;
    }
    .burger-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 35%;
    }

    .burger-icon {
        display: flex;
        margin-right: 10%;        
    }
    .close-menu{
        display: flex;
        font-size: 2rem;
        width: 10%;
    }

    .menu-container.activeMenu {
        display: flex;
    }

    .menu-container {
        display: none;
        /* margin: 0 1rem; */
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 0 1rem;
        border-radius: 0 0 5px 5px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        z-index: 1000;
    }
    .menu-item {
        color: white;
        margin: 5% 1rem;        
    }
}