
.home-container {     
    width: 100%;
    height: 100%;
}

.body-container {    
    gap: 2rem;    
}
.body-container p{ 
    padding: 0 0.8rem;
}
.profile-container {
    display: none;
}
#profile {
    font-size: 1.5em;
}
.headline {
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    margin: 2% 0;
    font-family: "Lucida Handwriting","Brush Script MT" , cursive;
    
}
.intro-text {
    text-align: center;
    margin: 1% 0;
    position: absolute;
    top: 25%;
}
.intro-text h2 {
    font-size: 1rem;
}
.banner-container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 15vh;
}
.banner-image {
    width: 100%;
    object-fit: cover;
}
.react-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #282c34; */
    width: 25%;
    margin: 2rem 0;
}
.react-container h3{
    font-style: italic;

}
.react-logo-container {
    display: flex;
    justify-content: center;
    margin: 1%;    
    width: 3rem;
}
.react-logo {    
    color: #61DAFB;
    font-size: 3rem;
    animation: spin 7s linear infinite;
}

@media screen and (max-width: 768px){
    .home-container{
        flex-direction: column;
    }

    .body-container {
        
    }
    /* hr {
        width: 100%;
        margin: 2rem 0;
    } */
    .headline {
        font-size: 1.5em !important; 
    }
    .react-container {
        width: 100%;
        font-size: 0.8rem;
    }
    .profile-container {
        display: flex;
        margin-bottom: 2rem;
        gap: 2rem;
        
    }

  }