/*RESETTING CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;  

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/***************** COLORS ********************/
.color-primary {
  background-color: #B76D68;
}
.color-secondary {
  background-color: #333;
}
.text-color-primary {
  color: rgba(255, 255, 255, 0.87);
}


/***************** TYPOGRAPHY ********************/
a {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
}
p {
  font-weight: 400;
}
h1 {
  /* font-size: 3.2em;
  line-height: 1.1; */
}
h5{
  font-size: 1rem;
}
.cursive-text {
  font-family: "Lucida Handwriting","Brush Script MT" , cursive;
}
/***************** COMMON USE for structure and layout ********************/
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.text-straight {
  text-align: justify;
}
.text-center {
  text-align: center;
}

body {
  /* margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}


button {
  border-radius: 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: black;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
