
.img-container{
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-width: 100%;
    width: 203.1vh;
}

@media screen and (max-width: 600px){
  .img-container{
    width: 100%;
  }
}